<div class="forgot-main border-0 scroll-attr scrollbar-primary" [style.max-height.px]="maxHeight">
    <div id="forgotWrapper" mat-dialog-content>
        <h2>Foegot Password</h2>
        <span><b>Username:</b></span>
        <div>
            <input type="text" (change)="onChangeAttr()" [(ngModel)]="userName">
        </div>
        <div [hidden]="userName">
            <div class="error align-left">Field is Required</div>
        </div>

        <span><b>Password:</b></span>
        <div>
            <input type="password" (change)="onChangeAttr()" [(ngModel)]="passWord">
        </div>
        <div [hidden]="passWord">
            <div class="error align-left">Field is Required</div>
        </div>

        <span><b>Confirm Password:</b></span>
        <div>
            <input type="password" (change)="onChangeAttr()" [(ngModel)]="confirmPassWord">
        </div>
        <div [hidden]="confirmPassWord">
            <div class="error align-left">Field is Required</div>
        </div>
        <div [hidden]="(passWord === confirmPassWord)">
            <div class="error align-left">PassWord and ConfirmPassWord Must be Same</div>
        </div>

        <div>
            <button [disabled]="disabledButton" type="button" class="btn btn-success button" (click)="changePassWord()">
                Change Password </button>
        </div>
        <div>
            <button class="btn" class="btn btn-primary button" type="button" (click)="cancel()"> Cancel
            </button>
        </div>
    </div>
</div>