.forgot-main{
    margin-left: 30%;
    #forgotWrapper{
        
        .error{
            // background-color: #f1beb9;
            color: #d00809;
            // text-align: center;
            width: 100%;
        }
    }
}