<div class="register-main border-0 scroll-attr scrollbar-primary" [style.max-height.px]="maxHeight">
    <div id="registerWrapper" mat-dialog-content>
        <h2>Registration Page</h2>
    <div >
        <div>
            <span><b>Username:</b></span>
            <div>
                <input type="text" (change)="changeFunction()" [(ngModel)]="userName">
            </div>
            <div [hidden]="userName">
                <div class="error align-left">Field is Required</div>
            </div>
            <span><b>Password:</b></span>
            <div>
                <input type="password" (change)="changeFunction()" [(ngModel)]="passWord">
            </div>
            <div [hidden]="passWord">
                <div class="error align-left">Field is Required</div>
            </div>
            <span><b>Confirm Password:</b></span>
            <div>
                <input type="password" (change)="changeFunction()" [(ngModel)]="confirmPassWord">
            </div>
            <div [hidden]="confirmPassWord">
                <div class="error align-left">Field is Required</div>
            </div>
            <div [hidden]="(passWord === confirmPassWord)">
                <div class="error align-left">PassWord and ConfirmPassWord Must be Same</div>
            </div>


            <span><b>First Name:</b></span>
            <div>
                <input type="text" (change)="changeFunction()" [(ngModel)]="firstName">
            </div>
            <div [hidden]="firstName">
                <div class="error align-left">Field is Required</div>
            </div>

            <span><b>Last Name:</b></span>
            <div>
                <input type="text" (change)="changeFunction()" [(ngModel)]="lastName">
            </div>
            <div [hidden]="lastName">
                <div class="error align-left">Field is Required</div>
            </div>

            <span><b>Email Id:</b></span>
            <div>
                <input type="text" (change)="changeFunction();checkEmail()" [(ngModel)]="email">
            </div>
            <div [hidden]="email">
                <div class="error align-left">Field is Required</div>
            </div>
            <div *ngIf="inValidEmail">
                <div class="error align-left">Invalid Format</div>
            </div>

            <span><b>Contact Number:</b></span>
            <div>
                <input type="text" (change)="changeFunction();checkPhone()" [(ngModel)]="contactNo">
            </div>
            <div [hidden]="contactNo">
                <div class="error align-left">Field is Required</div>
            </div>
            <div *ngIf="inValidPhone">
                <div class="error align-left">contactNumber should have 10 digits starting with nonzero</div>
            </div>

            <div>
                <button [disabled]="disabledButton" type="button" class="btn btn-success button"
                    (click)="register()"> Register </button>
            </div>
            <div>
                <button type="button" class="btn btn-primary button" (click)="cancel()"> Cancel
                </button>
            </div>
        </div>
    </div>
    </div>
</div>