<div class="register-main border-0 scroll-attr scrollbar-primary" [style.max-height.px]="maxHeight">
    <div id="registerWrapper" mat-dialog-content>
        <h2>Registration Page</h2>
    <div >
        <div>
            <span>Username:</span>
            <div>
                <input type="text" (change)="changeUserName()" [(ngModel)]="userName">
            </div>
            <div [hidden]="userName">
                <div class="error align-left">Field is Required</div>
            </div>
            <span>Password:</span>
            <div>
                <input type="password" (change)="changePassWord()" [(ngModel)]="passWord">
            </div>
            <div [hidden]="passWord">
                <div class="error align-left">Field is Required</div>
            </div>
            <span>Confirm Password:</span>
            <div>
                <input type="password" (change)="changeConfirmPassWord()" [(ngModel)]="confirmPassWord">
            </div>
            <div [hidden]="confirmPassWord">
                <div class="error align-left">Field is Required</div>
            </div>
            <div [hidden]="(passWord === confirmPassWord)">
                <div class="error align-left">PassWord and ConfirmPassWord Must be Same</div>
            </div>


            <span>First Name:</span>
            <div>
                <input type="text" (change)="changeFirstName()" [(ngModel)]="firstName">
            </div>
            <div [hidden]="firstName">
                <div class="error align-left">Field is Required</div>
            </div>

            <span>Last Name:</span>
            <div>
                <input type="text" (change)="changeLastName()" [(ngModel)]="lastName">
            </div>
            <div [hidden]="lastName">
                <div class="error align-left">Field is Required</div>
            </div>

            <span>Email Id:</span>
            <div>
                <input type="text" (change)="changeEmailId()" [(ngModel)]="email">
            </div>
            <div [hidden]="email">
                <div class="error align-left">Field is Required</div>
            </div>

            <span>Contact Number:</span>
            <div>
                <input type="text" (change)="changeCotactNo()" [(ngModel)]="contactNo">
            </div>
            <div [hidden]="contactNo">
                <div class="error align-left">Field is Required</div>
            </div>

            <div>
                <button style="margin-top: 3%;" [disabled]="disabledButton" type="button" class="btn btn-success"
                    (click)="register()"> Register </button>
            </div>
            <div>
                <button style="margin-top: 3%;" type="button" class="btn btn-primary" (click)="cancel()"> Cancel
                </button>
            </div>
        </div>
    </div>
    </div>
</div>