<div class="register-main border-0 scroll-attr scrollbar-primary" [style.max-height.px]="maxHeight">
    <div id="registerWrapper" mat-dialog-content>
        <h2>Registration Page</h2>
        <div>
            <form #registrationForm='ngForm' name="registrationForm">

                <label>Username*:</label>
                <div>
                    <input type="text" name="userName" #userName="ngModel" [(ngModel)]="inputFormValues.userName"
                       pattern="^(?![_.])(?!.*[_.]{2})[a-z0-9._]+(?<![_.])$" required>
                </div>
                <!-- <div [hidden]="userName.valid || userName.pristine">
                    <p class="alert alert-danger">Field is Required</p>
                </div> -->
                <div *ngIf="userName.touched">
                    <p class="alert alert-danger" *ngIf="userName.errors?.required">Field is Required</p>
                    <p class="alert alert-danger" *ngIf="userName.errors?.pattern">Username only contains lowercase characters</p>
                </div>

                <label>Password*:</label>
                <div>
                    <input type="password" name="password" (input)="checkPassWord()" [(ngModel)]="inputFormValues.password" #password="ngModel"
                        required>
                </div>
                <div [hidden]="password.valid || password.pristine">
                    <p class="alert alert-danger">Field is Required</p>
                </div>

                <label>Confirm Password*:</label>
                <div>
                    <input type="password" (input)="checkPassWord()" name="confirmPassWord" #confirmPassWord="ngModel"
                        [(ngModel)]="inputFormValues.confirmPassWord" required>
                </div>

                <div *ngIf="confirmPassWord.touched">
                    <p class="alert alert-danger" *ngIf="confirmPassWord.errors?.required">Field is Required</p>
                    <p class="alert alert-danger" *ngIf="flagForPassWord">PassWord and ConfirmPassWord Must be Same!</p>
                </div>

                <label>First Name*:</label>
                <div>
                    <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="inputFormValues.firstName"
                        required>
                </div>
                <div [hidden]="firstName.valid || firstName.pristine">
                    <p class="alert alert-danger">Field is Required</p>
                </div>

                <label>Last Name*:</label>
                <div>
                    <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="inputFormValues.lastName"
                        required>
                </div>
                <div [hidden]="lastName.valid || lastName.pristine">
                    <p class="alert alert-danger">Field is Required</p>
                </div>

                <label>Email Id*:</label>
                <div>
                    <input type="email" name="emailId" #emailId="ngModel" [(ngModel)]="inputFormValues.emailId"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                </div>

                <div *ngIf="emailId.touched">
                    <p class="alert alert-danger" *ngIf="emailId.errors?.required">Email is a required field!</p>
                    <p class="alert alert-danger" *ngIf="emailId.errors?.pattern">This is not a valid Email!!!</p>
                </div>


                <label>Contact Number*:</label>
                <div>
                    <input type="text" name="contactNumber" #contactNumber="ngModel" [(ngModel)]="inputFormValues.contactNumber"
                        pattern="^[1-9][0-9]{9}" required>
                </div>
                <!-- <div [hidden]="contactNo.valid || contactNo.pristine">
                    <p class="alert alert-danger">Field is Required</p>
                </div> -->
                <div *ngIf="contactNumber.touched">
                    <p class="alert alert-danger" *ngIf="contactNumber.errors?.required">Field is Required!</p>
                    <p class="alert alert-danger" *ngIf="contactNumber.errors?.pattern">contactNumber should have 10 digits
                        starting with nonzero</p>
                </div>


                <div>
                    <button [disabled]="!registrationForm.form.valid" type="button" class="btn btn-success button"
                        (click)="register()"> Register </button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary button" (click)="cancel()"> Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>