<div class="login-main">

    <div id="loginWrapper">
        <h1>Login Page</h1>
        <span><b>Username:</b></span>
        <div>
            <input type="text" (input)="onchangeUserName()" [(ngModel)]="userName">
        </div>

        <span><b>Password:</b></span>
        <div>
            <input type="password" (input)="onchangePassWord()" [(ngModel)]="passWord">
        </div>

        <div>
            <button [disabled]="disableButton" class="btn btn-success button" type="button" (click)="login()"> Login
            </button>
        </div>

        <div>
            <button class="btn btn-primary button" type="button" (click)="forgot()"> Forgot
                Password?
            </button>
        </div>
        <div>
            <button class="btn btn-primary button" type="button" (click)="register()">Don't Have an
                Account? SignUp</button>
        </div>
    </div>
</div>