/* You can add global styles to this file, and also import other style files */
.fixed-top {
    z-index: 999 !important;
}
.button{
    margin-top: 3%;
}
.error{
    // background-color: #f1beb9;
    color: #d00809;
    // text-align: center;
    width: 100%;
}